.chat-container {
	display: flex;
	margin-bottom: 20px;
	width:auto;
	height:800px;
}
.chat-left-layout {
	background-color: #fff;
	min-width: 200px;
	flex-basis: 25%;
	margin: 0 10px 0 0;
	border-radius: 10px;
}
.chat-right-layout {
	background-color: #fff;
	min-width:200px;
	flex-basis: 25%;
	border-radius: 10px;
}
.chat-center-layout {
	background-color: #ffc;
	min-width:400px;
	flex-basis: 50%;
	margin: 0 10px 0 0;
	border-radius: 10px;
}
.card-body {
	height: 623px;
}
.submit-btn {
	background-color: #fff;
	width: 15%;
	border: 1px solid #dce7f1;
	border-radius: .25rem;
	margin: 0 0 0 5px;
}
.chat-room-profile {
	width: 51.6px;
}
.bg-warning {
	margin: 0 0 0 30px;
}
.chat-room-title {
	margin: 0 0 10px 0;
	font-size: 20px;
}
.table-responsive {
	margin: 5px 0 0 0;
	overflow: auto;
	width:auto; 
	height:755px;
}
.table-responsive::-webkit-scrollbar {
	width:10px;
}
.table-responsive::-webkit-scrollbar-thumb {
	background-color: #BBDEFB;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
tr:hover {
	background-color: #BBDEFB;
}
.card-body {
	margin: 5px 0 0 0;
	overflow: scroll;
	width:auto; 
	height:617px;
}
.card-body::-webkit-scrollbar {
	width:10px;
}
.card-body::-webkit-scrollbar-thumb {
	background-color: #BBDEFB;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.btn .btn-primary .btn-lg .dropdown-toggle .dropdown-toggle-split {
	width: auto;
}