body {
	margin: 0;
	height: 2000px;
}

.background1_section {
	height: 800px;
	background: url("../images/login/background.jpg") fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.background2_section {
	height: 800px;
	background: url("../images/login/background2.jpg") fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.background3_section {
	height: 800px;
	background: url("../images/login/background3.jpg") fixed;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.logo-photo {
	position: absolute;
	bottom: 200px;
	left: 400px;
	animation: slide_logo 1s;
	filter: drop-shadow(50px 50px 50px);
}

.login-controller {
	background-color: #435ebe;
	font-size: 3em;
	height: 400px;
	width: 400px;
	color: white;
}

.login-layout {
	border-radius: 30px;
	background-color: #435ebe;
	height: 500px;
	width: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 130px;
	right: 200px;
	animation: slide 2s ease-out;
	opacity: 0.9;
}

h1{
	color: white;
	text-align: center;
}

@keyframes slide_logo {
	from {
		bottom: -100px;
		opacity: 0;
	}
	to {
		bottom: 200px;
		opacity: 1;
	}
}

@keyframes disappear_logo {
	from{
		bottom: 200px;
		opacity: 1;
	}
	to{
		bottom: -100px;
		opacity: 0;
	}
}

@keyframes slide {
	from {
		right: -100px;
		opacity: 0;
	}
	to {
		right: 200px;
		opacity: 0.9;
	}
}

@keyframes disappear {
	from{
		right: 200px;
		opacity: 0.9;
	}
	to{
		right: -100px;
		opacity: 0;
	}
}