@charset "UTF-8";

.col-66p {
    flex: 0 0 auto;
    width: 66%;
}

.jui .col-3 {
    width: 60%;
    margin-top: 1rem;
}

.jui ul.tree {
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 15px;
}

.col-md-20p {
    flex: 0 0 auto;
    width: 20%;
    text-align: center;
    font-weight: bold;
}

.dept-label {
	align-items: center;
	padding-top: 1rem;
}

.col-md-60p {
    flex: 0 0 auto;
    width: 60%;
}

.dept-form-control {
	margin: 0.5rem 0 0.5rem 0;
}

.dept-btn-mg {
	margin: 0 0.5rem 0 0.5rem;
}

.font-bold {
	font-weight: bold;
}

#font-bold:hover {
	font-weight: bold;
	color: blue;
}

.btn-lavender {
	margin: 0 10px 0 0;
	color: #fff;
	background-color: #BF9BD7;
	border-color: #BF9BD7;
	box-shadow: rgb(58 53 65 / 42%) 0px 4px 8px -4px;
}
.card-title-cus {
	flex: 0 0 auto;
	width: 20%;
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
	font-weight: 700;
}
.margin-cus {
	margin: 10px 0 0 0;
}