@charset "UTF-8";

*{
	box-sizing : border-box;
	margin :0; padding : 0;
}
.black{
	color : black; 
}
.row{
	margin : 0px  0px 50px 0px;
}
#app #main .page-content {
	padding : 0px;
	margin : 0px;
	width : 100%;
}
.page-content .row .section-top{
	width : 100%;
	height : 120px;
	background: #fff;
	margin-bottom: 23px;
}
#app #main .page-content .row .col-12 .info-container{
	width : 100%;
	heigth : 120px;
}
.info-container .dropdown{
	display : flex;
}
.page-content .row .section-main{
	width : 100%;
	background-color : #fff;
}
.search-container{
	display : inline-block;
	float : right;
	margin-right : 10px;
}
.search-input {
	border-color : #e6f3ff;
	border-width : 1px;
	border-radius : 0.3rem;
	
}

.padding-45 {
	padding-top: 45px;
}
.padding-5 {
	padding-top: 5px;
}
.radius {
	border-radius: 0.7rem;
}
.container-button{
	width : 100%;
	position : absolute;
}
.btn-style {
	width : 40px;
	height : 27px;
	color : #394246;
	border-style : solid;
	border-width : 1px;
	border-color : #d0d3cd;
	background : #fff;
	display : flex;
	border-radius : 0.3rem;
	display : inline;
}
.main-button {
	padding-top : 10px;
}
footer {
	position : relative;
	bottom:0;
}