#calendar-root {
	display: flex;
	width: 80%;
	height: 1000px;
}

#calendar-wrapper {
	width: 100%;
}

#calendar-menu {
  width: 200px;
  margin: 20px;
  font-size: 1.1rem;
  border-radius: 15px;
  z-index: 10;
  overflow-y: auto;
  background-color: #fff;
  position:fixed;
  transition: left 0.5s ease-out;
  color: #003a70;
}

#calendar-menu .calendar-menu-head {
	margin: 20px 20px 10px 20px;
}

#calendar-menu .calendar-menu-head .calendar-icon {
	margin-top: 5px;
}

#calendar-menu .calendar-menu-head i {
	font-size: 25px;
	display: border;
}

#calendar-menu .calendar-menu-head span{
	font-size: 25px;
	margin-left: 15px;
}

#calendar-menu #calendar-add-button {
	background-color: #003a70;
	color: white;
	width: 100%;
}

#calendar-menu .menu {
	padding-left: 0px;
  	margin-top: 1rem;
  	font-weight: 600;
}
#calendar-menu .menu .sidebar-title {
  padding: 0 1rem;
  margin: 1.5rem 0 1rem;
  font-size: 1rem;
  list-style: none;
  font-weight: 600;
  color: #003a70;
}
#calendar-menu .menu .sidebar-link {
  display: block;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  transition: all 0.5s;
  text-decoration: none;
  color: #003a70;
  cursor: pointer;
}
#calendar-menu .menu .sidebar-link i,
#calendar-menu .menu .sidebar-link svg {
  color: #003a70;
}
#calendar-menu .menu .sidebar-link span {
  margin-left: 1rem;
}
#calendar-menu .menu .sidebar-link:hover {
  background-color: #f0f1f5;
}
#calendar-menu .menu .sidebar-item {
  list-style: none;
  margin-top: 0.5rem;
  position: relative;
}
#calendar-menu .menu .sidebar-item.has-sub .sidebar-link:after {
  content: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><path stroke="gray" stroke-width="1" d="M6 9l6 6 6-6"/></svg>');
  position: absolute;
  color: #ccc;
  right: 15px;
  top: 12px;
  display: block;
}
#calendar-menu .menu .sidebar-item.active .sidebar-link {
  background-color: #003a70;
}
#calendar-menu .menu .sidebar-item.active .sidebar-link span {
  color: #fff;
}
#calendar-menu .menu .sidebar-item.active .sidebar-link i,
#calendar-menu .menu .sidebar-item.active .sidebar-link svg {
  fill: #fff;
  color: #fff;
}
#calendar-menu .menu .sidebar-item.active .sidebar-link.has-sub:after {
  content: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><path stroke="%23fff" stroke-width="1" d="M6 9l6 6 6-6"/></svg>');
}
#calendar-menu .menu .submenu {
  list-style: none;
  transition: max-height 2s cubic-bezier(0, 0.55, 0.45, 1);
  overflow: hidden;
  font-size: 0.9rem;
}
#calendar-menu .menu .submenu.hide-menu {
  
  transition: max-height 2s cubic-bezier(0, 0.55, 0.45, 1);
  display: none;
}
#calendar-menu .menu .submenu.active {
  max-height: 999px;
  display: block;
}
#calendar-menu .menu .submenu .submenu-item {
  position: relative;
  margin-top: 4px;
}
#calendar-menu .menu .submenu .submenu-item.active > a {
  color: #435ebe;
  font-weight: 700;
}
#calendar-menu .menu .submenu .submenu-item a {
  padding: 0.7rem 2rem;
  display: block;
  color: #003a70;
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: all 0.3s;
}
#calendar-menu .menu .submenu .submenu-item a:hover {
  margin-left: 0.3rem;
}
#calendar-main{
	margin-left: 250px;
	margin-top: 20px;
  border-radius: 15px;
  overflow-y: auto;
  background-color: #fff;
  transition: left 0.5s ease-out;
  color: #003a70;
  margin-bottom: 100px;
}

#calendar-main .calendar-header {
	margin: 20px;
	font-size: 1.3rem;
}

#calendar-main .calendar-header .calendar-header-left .calendar-header-day {
	margin-left: 5px;
	margin-right: 8px;
	cursor: pointer;
}

#calendar-main .calendar-header .calendar-header-left .calendar-header-week {
	margin-right: 8px;
	cursor: pointer;
}

#calendar-main .calendar-header .calendar-header-left .calendar-header-month {
	cursor: pointer;
}

#calendar-main .calendar-header .calendar-header-mid {
	font-size: 2rem;	
}

#calendar-main .calendar-header .calendar-header-mid .calendar-arrow-left {
	cursor: pointer;
	font-weight: 900;
}


#calendar-main .calendar-header .calendar-header-mid .calendar-header-date {
	margin-left: 12px;
	cursor: pointer;
}

#calendar-main .calendar-header .calendar-header-mid .calendar-arrow-right {
	cursor: pointer;
	font-weight: 900;
	margin-left: 12px;
	margin-right: 30px;
}

#calendar-main .calendar-header .calendar-header-right {
	margin-right: 37px;
	font-size: 1.3rem;
}

