<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.workforus.forus.mapper.AddressMapper">

	<resultMap type="addressDto" id="addressDtoMap">
		<result property="addrId" column="ADDR_ID" />
		<result property="addrIndvId" column="ADDR_INDV_ID" />
		<result property="empId" column="EMP_ID" />
 		<collection property="empObj" javaType="empDto">
			<id 	property="empId" column="EMP_ID" />
			<result property="empNm" column="EMP_NM" />
			<result property="empEmail" column="EMP_EMAIL" />
			<result property="deptNo" column="DEPT_NO" />
			<result property="empTel" column="EMP_TEL" />
		</collection>
	</resultMap>
	
	<!-- 공용 주소록 조회 -->
	<select id="selectAddress" resultMap="addressDtoMap" parameterType="String">
		SELECT A.EMP_ID
			 , E.EMP_NM
			 , E.DEPT_NO
			 , E.EMP_EMAIL
			 , E.EMP_TEL
		  FROM TB_ADDRESS A
		  JOIN TB_EMPLOYEES E
		    ON A.EMP_ID = #{empId}
	</select>
	
</mapper>