<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.workforus.forus.mapper.AddressMapper">

	<resultMap type="addressDto" id="addressDtoMap">
		<result property="addrId" column="ADDR_ID" />
		<result property="addrIndvId" column="ADDR_INDV_ID" />
		<result property="empId" column="EMP_ID" />
<!-- 		<association property="empObj" javaType="empDto">
			<id property="empId" column="EMP_ID" />
			<result property="empNm" column="EMP_NM" />
		</association> -->
	</resultMap>
	
	<select id="selectData" resultMap="addressDtoMap" parameterType="String">
		SELECT E.EMP_NM
			 , E.DEPT_NO 
			 , E.EMP_EMAIL
			 , E.EMP_PHONE
			 , E.EMP_TEL
		  FROM TB_ADDRESS A
		  JOIN TB_EMPLOYEES E
		  	ON A.EMP_ID = E.EMP_ID
		 WHERE A.EMP_ID = #{empId}
	</select>
</mapper>