<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.workforus.forus.mapper.AdminFileUploadMapper">
	<resultMap type="adminFileUploadDto" id="adminFileUploadDtoMap">
		<result property="adminFileId" column="admin_file_id" />
		<result property="adminFileNm" column="admin_file_nm" />
		<result property="adminUuidFileNm" column="admin_uuid_file_nm" />
		<result property="adminUploadPath" column="admin_upload_path" />
		<result property="adminFileSize" column="admin_file_size" />
	</resultMap>
	
	<insert id="insertAdminFile" parameterType="adminFileUploadDto">
		INSERT INTO TB_ADMIN_FILE_UPLOAD
			   (ADMIN_FILE_ID
			  , ADMIN_FILE_NM
			  , ADMIN_UUID_FILE_NM
			  , ADMIN_UPLOAD_PATH
			  , ADMIN_FILE_SIZE)
		 VALUES (admin_file_seq.NEXTVAL
		   	  , #{adminFileNm}
		   	  , #{adminUuidFileNm}
		   	  , #{adminUploadPath}
		   	  , #{adminFileSize})
	</insert>
	
	<select id="selectAdminFile" parameterType="_int" resultMap="adminFileUploadDtoMap">
		SELECT ADMIN_FILE_ID
			 , ADMIN_FILE_NM
			 , ADMIN_UUID_FILE_NM
			 , ADMIN_UPLOAD_PATH
			 , ADMIN_FILE_SIZE
		  FROM TB_ADMIN_FILE_UPLOAD
		 WHERE ADMIN_FILE_ID = #{adminFileId}
	</select>
	
	<select id="selectMaxAdminFileId" parameterType="_int" resultMap="adminFileUploadDtoMap">
		SELECT *
		  FROM TB_ADMIN_FILE_UPLOAD
		 WHERE ADMIN_FILE_ID = (SELECT MAX(#{adminFileId}) FROM TB_ADMIN_FILE_UPLOAD)
	</select>
</mapper>