<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.workforus.forus.mapper.ChatMapper">
	<resultMap type="chatRoomDto" id="chatRoomDtoMap">
		<result property="chatRoomNo" column="chat_room_no" />
		<result property="empId" column="emp_id" />
		<result property="chatTitle" column="chat_title" />
		<result property="chatProfile" column="chat_profile" />
		<result property="chatLastTime" column="chat_last_time" />
		<result property="chatLastCont" column="chat_last_cont" />
		<result property="chatRoomType" column="chat_room_type" />
	</resultMap>
	<insert id="createChatRoom" parameterType="String">
		INSERT INTO TB_CHAT_ROOMS(chat_room_no, emp_id) VALUES(chat_room_seq.NEXTVAL, #{empId})
	</insert>
	<!-- 
	<select id="selectChatRooms" parameterType="String" resultMap="chatRoomDtoMap">
		SELECT * FROM tb_chat_rooms
		 WHERE emp_id = #{empId}
	</select>
	 -->
	<select id="selectChatRooms" resultMap="chatRoomDtoMap">
		SELECT * FROM tb_chat_rooms
	</select>
	<select id="findRoomById" parameterType="_int" resultMap="chatRoomDtoMap">
		SELECT * FROM tb_chat_rooms
		 WHERE chat_room_no = #{chatRoomNo}
	</select>
</mapper>