<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.workforus.forus.mapper.SalaryMapper">
	<resultMap type="SalaryDto" id="salaryDtoMap">
		<result property="salaryId" 		column="salary_id" /> 
		<result property="salaryLogDt" 	column="salary_log_dt" />
		<result property="salaryLog" 		column="salary_log" />
		<result property="salaryTax"  		column="salary_tax" />
		<result property="incomeTax" 		column="income_tax" />
		<result property="empId" 			column="emp_id" />
	</resultMap>
</mapper>