<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<!-- Employee -->
		
		<!-- Department & Job -->
		<typeAlias type="site.workforus.forus.dept.model.DeptDTO" alias="deptDto" />
		<typeAlias type="site.workforus.forus.job.model.JobDTO" alias="jobDto" />

		<!-- Board -->
		<typeAlias type="site.workforus.forus.board.model.BoardDTO" alias="boardDto" />
		<typeAlias type="site.workforus.forus.board.model.BoardCategoryDTO" alias="boardCategoryDto" />
		<typeAlias type="site.workforus.forus.board.model.BoardParticipDTO" alias="boardParticipDto" />
		
		<!-- Commute -->
		<typeAlias type="site.workforus.forus.commute.model.CommuteDTO" alias="commuteDto" />
		
		<!-- Calendar -->
		<typeAlias type="site.workforus.forus.calendar.model.CalendarDTO" alias="calendarDto" />
		
		<!-- Address -->
		<typeAlias type="site.workforus.forus.address.model.AddressDTO" alias="addressDto" />
		
	</typeAliases>
</configuration>