<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<!-- Employee -->
		<package name="site.workforus.forus.employee.model"/>
		
		<!-- Admin -->
		<package name="site.workforus.forus.admin.model"/>

		<!-- Board -->
		<package name="site.workforus.forus.board.model"/>
		
		<!-- Commute -->
		<package name="site.workforus.forus.commute.model"/>
		
		<!-- Calendar -->
		<package name="site.workforus.forus.calendar.model"/>
		
		<!-- Address -->
		<package name="site.workforus.forus.address.model"/>
		
	</typeAliases>
</configuration>